<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>

<!-- Tabs -->
	
	<extension id="NCIEditTab" point="org.protege.editor.core.application.WorkspaceTab">
		<label value="NCI Edit Tab"/>
		
		<class value="gov.nih.nci.ui.NCIEditTab"/>
		<!--
		<class value="org.protege.editor.owl.ui.OWLWorkspaceViewsTab"/>
		-->
		<index value="Z"/>
		<editorKitId value="OWLEditorKit"/>
		<defaultViewConfigFileName value="edit-tab-config.xml"/>
   </extension>
   
   <extension id="InferencesTab"
               point="org.protege.editor.core.application.WorkspaceTab">
        <label value="Inference Results"/>
        <class value="org.protege.editor.owl.ui.OWLWorkspaceViewsTab"/>
        <editorKitId value="OWLEditorKit"/>
        <index value="Y"/>
        <defaultViewConfigFileName value="viewconfig-inferencestab.xml"/>
    </extension>


	<!-- View -->
	
	<extension id="NCIInferredAxioms"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Curator Classification results"/>
        <class value="gov.nih.nci.ui.InferredAxiomsViewComponent"/>
        <headerColor value="@org.protege.ontologycolor"/>
        <category value="@org.protege.ontologycategory"/>
        <category value="NCI Edit Tab"/>
    </extension>
	
	
	<extension id="NCITOWLAssertedClassHierarchy"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Navigation Hierachy"/>
        <class value="gov.nih.nci.ui.NCIToldOWLClassHierarchyViewComponent"/>
        <headerColor value="@org.protege.classcolor"/>
        <category value="@org.protege.classcategory"/>
        <navigates value="@org.protege.classcategory"/>
        
        <instantiationType value="eager"/>
        
    </extension>
    
    <extension id="InferredTreeView"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Inferred Navigation Hierachy"/>
        <class value="gov.nih.nci.ui.InferredTreeView"/>
        <headerColor value="@org.protege.ontologycolor"/>
        <category value="Inference Results"/>
        <category value="@org.protege.classcategory"/>
        <navigates value="@org.protege.classcategory"/>
    </extension>
    <extension id="AssertedTreeView"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Asserted Navigation Hierachy"/>
        <class value="gov.nih.nci.ui.AssertedTreeView"/>
        <headerColor value="@org.protege.ontologycolor"/>
        <category value="Asserted Results"/>
        <category value="@org.protege.classcategory"/>
        <navigates value="@org.protege.classcategory"/>
    </extension>
    <!--
     <extension id="PropertyTableView"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Complex Properties"/>
        <class value="gov.nih.nci.ui.NCIPropertyViewComponent"/>
        <headerColor value="@org.protege.ontologycolor"/>
        <category value="NCI Edit Tab"/>
    </extension>
    
    -->
	
	<extension id="EditView"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Basic Editing"/>
        <class value="gov.nih.nci.ui.NCIEditViewComponent"/>
        <headerColor value="@org.protege.ontologycolor"/>
        <category value="NCI Edit Tab"/>
        
        <instantiationType value="eager"/>
        
    </extension>
    
	<extension id="ComplexEditView"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Complex Operations"/>
        <class value="gov.nih.nci.ui.NCIComplexEditViewComponent"/>
        <headerColor value="@org.protege.ontologycolor"/>
        <category value="NCI Edit Tab"/>
        
        <instantiationType value="eager"/>
        
    </extension>
    
    <extension id="RetireView"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Retirements"/>
        <class value="gov.nih.nci.ui.NCIRetireViewComponent"/>
        <headerColor value="@org.protege.ontologycolor"/>
        <category value="NCI Edit Tab"/>
        
        <instantiationType value="eager"/>
        
    </extension>
    
    <extension id="ReportWriter"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="ReportWriter"/>
        <class value="gov.nih.nci.ui.ReportWriterViewComponent"/>
        <headerColor value="@org.protege.ontologycolor"/>
        <category value="NCI Edit Tab"/>
    </extension>
	
	<extension id="BatchEditIRIs"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="BatchEditIRIs"/>
        <class value="gov.nih.nci.ui.BatchEditIRIsViewComponent"/>
        <headerColor value="@org.protege.ontologycolor"/>
        <category value="NCI Edit Tab"/>
        
        <!-- <instantiationType value="eager"/> -->
        
    </extension>
    
    <extension id="ReadOnlyClass"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="ReadOnlyClass"/>
        <class value="gov.nih.nci.ui.ReadOnlyClassViewComponent"/>
        <headerColor value="@org.protege.ontologycolor"/>
        <category value="NCI Edit Tab"/>
        
        <instantiationType value="eager"/>
        
    </extension>
	
	<extension id="Split"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Split Class..."/>
        <class value="gov.nih.nci.ui.action.SplitClassAction"/>
        <toolTip value="Split a class into two new ones"/>
        <path value="[NCIAssertedClassHierarchy]/SlotAA-A"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>
    <extension id="Clone"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Clone a class..."/>
        <class value="gov.nih.nci.ui.action.CloneClassAction"/>
        <toolTip value="Makes an identical copy of a class"/>
        <path value="[NCIAssertedClassHierarchy]/SlotAA-B"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>    
    <extension id="Retire"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Retire selected class..."/>
        <class value="gov.nih.nci.ui.action.RetireClassAction"/>
        <toolTip value="Retires class"/>
        <path value="[NCIAssertedClassHierarchy]/SlotAA-D"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>
    <extension id="AddComplex"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Add Complex Property..."/>
        <class value="gov.nih.nci.ui.action.AddComplexAction"/>
        <toolTip value="Adds Property to class"/>
        <path value="[NCIAssertedClassHierarchy]/SlotAA-E"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>
    
    <!--
     <extension id="menu.ExecuteClassificationSuggestionAxioms"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Execute classification suggestions..."/>
        <class value="gov.nih.nci.ui.action.ExecuteClassificationSuggestionAxiomsAction"/>
        <toolTip value="Executes all the edits suggested by classification"/>
        <path value="org.protege.editor.core.application.menu.EditMenu/SlotN-C"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>
    -->
	
    
</plugin>
