<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>

<!-- Tabs -->
	
	<extension id="NCIEditTab" point="org.protege.editor.core.application.WorkspaceTab">
		<label value="NCI Edit Tab"/>
		<class value="gov.nih.nci.ui.NCIEditTab"/>
		<index value="X"/>
		<editorKitId value="OWLEditorKit"/>
		<defaultViewConfigFileName value="edit-tab-config.xml"/>
   </extension>


	<!-- View -->
	
	

	<extension id="ConceptView" point="org.protege.editor.core.application.ViewComponent">
		<label value="Example view component" />
		<class value="gov.nih.nci.ui.ConceptView" />
		<headerColor value="@org.protege.ontologycolor"/>
		<category value="@org.protege.ontologycategory" />
	</extension>
	
	<extension id="NCIOWLAssertedClassHierarchy"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Class  Foo hierarchy"/>
        <class value="gov.nih.nci.ui.NCIToldOWLClassHierarchyViewComponent"/>
        <headerColor value="@org.protege.classcolor"/>
        <category value="@org.protege.classcategory"/>
        <navigates value="@org.protege.classcategory"/>
    </extension>
    
     <extension id="PropertyTableView"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Ontology metrics"/>
        <class value="gov.nih.nci.ui.NCIPropertyViewComponent"/>
        <headerColor value="@org.protege.ontologycolor"/>
        <category value="@org.protege.ontologycategory"/>
    </extension>
	
	<extension id="EditView"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Edit"/>
        <class value="gov.nih.nci.ui.NCIEditViewComponent"/>
        <headerColor value="@org.protege.ontologycolor"/>
        <category value="@org.protege.ontologycategory"/>
    </extension>
    
	<extension id="ComplexEditView"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Complex Edit"/>
        <class value="gov.nih.nci.ui.NCIComplexEditViewComponent"/>
        <headerColor value="@org.protege.ontologycolor"/>
        <category value="@org.protege.ontologycategory"/>
    </extension>
    
    <extension id="RetireView"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Retirement"/>
        <class value="gov.nih.nci.ui.NCIRetireViewComponent"/>
        <headerColor value="@org.protege.ontologycolor"/>
        <category value="@org.protege.ontologycategory"/>
    </extension>
	
	
	<extension id="Split"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Split Class..."/>
        <class value="gov.nih.nci.ui.action.SplitClassAction"/>
        <toolTip value="Split a class into two new ones"/>
        <path value="[NCIAssertedClassHierarchy]/SlotAA-A"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>
    <extension id="Clone"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Clone a class..."/>
        <class value="gov.nih.nci.ui.action.CloneClassAction"/>
        <toolTip value="Makes an identical copy of a class"/>
        <path value="[NCIAssertedClassHierarchy]/SlotAA-B"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>
    <extension id="Merge"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Merge selected classes..."/>
        <class value="gov.nih.nci.ui.action.MergeClassAction"/>
        <toolTip value="Merges two classes"/>
        <path value="[NCIAssertedClassHierarchy]/SlotAA-C"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>
    <extension id="Retire"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Retire selected class..."/>
        <class value="gov.nih.nci.ui.action.RetireClassAction"/>
        <toolTip value="Retires class"/>
        <path value="[NCIAssertedClassHierarchy]/SlotAA-D"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>
	

    
</plugin>
